
.text-success {
    color: green;
}


.text-danger {
    color: red;
}

.text-red {
    color: red;
}

.product-checkbox, #selectAll {
    cursor: pointer;
}


.product-checkbox {
    margin: 0;
    padding: 10px;
    position: relative;
}

/* 置中表格內的勾選框 */
table th, table td {
    text-align: center;
    vertical-align: middle;
}

/* 置中全選勾選框 */
#selectAll {
    margin: auto;
    display: block;
}

table thead th {
    background-color: #f3e9e9;
}

.highlighted-row {
    animation: highlight-animation 2s ease;
}

/* 當滑鼠移到某一行上時的樣式 */
.product-row:hover {
    background-color: #f0f0f0;
    /*color: #5cbcef; !* 文字顏色變更 *!*/
}


@keyframes highlight-animation {
    0% { background-color: #ffff99; }
    100% { background-color: transparent; }
}