
.text-success {
    color: green;
}


.text-danger {
    color: red;
}

.text-red {
    color: red;
}

.product-checkbox, #selectAll {
    cursor: pointer;
}


.product-checkbox {
    margin: 0;
    padding: 10px;
    position: relative;
}

/* 置中表格內的勾選框 */
table th, table td {
    text-align: center;
    vertical-align: middle;
}

/* 置中全選勾選框 */
#selectAll {
    margin: auto;
    display: block;
}

table thead th {
    background-color: #f3e9e9;
}