#promotionActivitiesTable {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*標題*/
#promotionActivitiesTable th {
    background-color: #f3e9e9;
    color: black;
    text-align: center;
}

#promotionActivitiesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}


#promotionActivitiesTable tr:nth-child(even) {background-color: #f9f9f9;}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: 2px solid #007bff;
}

.status-on {
    color: green; /* 上架顯示為綠色 */
}

.status-off {
    color: red; /* 下架顯示為紅色 */
}


.error-message {
    color: red;
    font-size: 0.8em;
}

#promotionActivitiesTable tr:hover {
    background-color: #e0e0e0;
    /*color: #5cbcef; !* 文字顏色變更 *!*/
}

@media screen and (max-width: 600px) {
    .container, .modal-content {
        width: 100%;
        margin: 0;
    }
}
