.card {
    margin: 10px; /* 增加卡片之間的間隙 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* 增加陰影效果 */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* 確保卡片身體佔滿整個卡片高度 */
}

.card-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    max-width: 100%;
    word-wrap: break-word;
}

.card .btn-group {
    width: 100%;
    margin-top: auto; /* 確保按鈕組在卡片底部 */
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap; /* 防止按鈕文本換行 */
}

/* 考慮在小屏幕上的顯示 */
@media (max-width: 576px) {
    .card-text {
        font-size: 12px;
    }

    .btn-sm {
        font-size: 10px;
    }
}

#promotion-products-row .card {
    border: 2px solid #ffcc00; /* 加粗促銷商品邊框 */
    background-color: #fffbe6;
}

.product-img {
    width: 100%;
    height: 100px; /* 增加圖片高度 */
    object-fit: cover;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.price-text {
    font-weight: bold;
}

.category-item {
    transition: transform .2s, box-shadow .2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px; /* 增加內邊距 */
    margin: 15px; /* 增加邊距 */
    border-radius: 10px; /* 圓角半徑增加 */
    background-color: #f8f9fa;
    text-align: center;
    cursor: pointer;
}

.category-item:hover {
    transform: scale(1.1); /* 放大比例增加 */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    background-color: #e9ecef;
}

.category-item:active {
    transform: scale(0.95);
    background-color: #dee2e6;
}

.gray-background {
    background-color: #ededf6;
}

/* 新增箭頭樣式 */
#promotion-prev, #promotion-next {
    font-size: 24px; /* 增加字體大小 */
    color: #007bff; /* 調整顏色 */
    border: none; /* 移除邊框 */
    background: transparent; /* 背景透明 */
}

#promotion-prev:hover, #promotion-next:hover {
    color: #0056b3; /* 懸停時的顏色 */
    cursor: pointer; /* 改變鼠標樣式 */
}

#promotionCarousel .carousel-control-prev,
#promotionCarousel .carousel-control-next {
    top: 50%; /* 設定垂直中心位置 */
    transform: translateY(-50%); /* 向上平移以確保準確居中 */
}

#promotionCarousel .carousel-control-prev {
    left: -30px; /* 將左箭頭向左偏移 */
}

#promotionCarousel .carousel-control-next {
    right: -30px; /* 將右箭頭向右偏移 */
}

#productDetailModal .modal-footer button {
    background-color: #007bff; /* 按鈕背景色 */
    color: white; /* 按鈕文字顏色 */
    border-radius: 5px; /* 圓角 */
}

@media (max-width: 768px) {
    #productDetailModal .modal-dialog {
        max-width: 100%; /* 在小屏幕設備上全屏顯示 */
        margin: 0;
        border-radius: 0; /* 移除圓角 */
    }
}

body {
    background-image: url('../image/背景.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
